


nav {
	height: 10rem;
	border-bottom: 2px solid black;
}

.drop-border {
	border: 20px solid black;
}

.over {
	border:2px solid red;
}

.standard-directive {
	min-height: 22rem;
}
.directive-container {
	border: 1px solid black;
	min-height:22rem;
	margin: 1rem;
	overflow: scroll;
}

.quiz-answers {
	padding-left: 1rem;
}