<!DOCTYPE html>
<html ng-app="EducationPlatform">
<head>
	<title>Education Central</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/styles.css">

</head>


<body ng-controller="mainCtrl">

<ng-view></ng-view>

<div class="container">
	<div class="row">
		
		<aside class="col-md-2" style='border:2px solid blue;'>
			<h2>Teacher Dashboard</h2>
		

			<h4>this will be a list of the plugins</h4>
			<div ng-repeat="component in directives.list">
				<p ng-click=""> {{component}} </p>
			</div>
			<div id="columns">
			  <div>
			  	<edu-profile userprofile='{{user}}'></edu-profile>
			  </div>



		</aside>

		<div class="col-md-10">
			
				
				<!-- This is odd. when the bootstrap column wasn't defined, it wouldn't move
				is that because it didn't have an initial position? -->

				<!-- When I tried to change out of bootstrap my move function no longer worked . . . -->

				<!-- It might be an issue with the digest cycle.  The changes don't happen until I run an ng repeat
				Angular may be evaluating on how to move dom elements based on the last dirty check
				Maybe I need to run the dirty check/digest cycle after mouseup -->

				<!-- I could prevent this issue by making the quiz component always the right height to hold the quiz -->
				<quick-quiz class="col-md-5"></quick-quiz>	
				
				<student-checklist class="col-md-5"></student-checklist>

				<teacher-links class="col-md-5"></teacher-links>
				<quick-notes class="col-md-5"></quick-notes>
	



		
		</div>

		

		
		

		
		
		




	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.min.js"></script>
<!-- build:js -->
<script src="app/app.js"></script>
<script src="mainCtrl.js"></script>
<script src="anotherCtrl.js"></script>
<script src="smartQuizCtrl.js"></script>
<script src="services/testService.js"></script>
<script src="services/lazyDirectiveLoaderService.js"></script>
<script src="services/directiveStateService.js"></script>
<script src="components/teacherlinks/teacherLinksDirective.js"></script>
<script src="components/profile/profileDirective.js"></script>
<script src="components/textanalysis/textAnalysisDirective.js"></script>
<script src="components/studentchecklist/studentChecklistDirective.js"></script>
<script src="components/quickquiz/quickQuizDirective.js"></script>
<script src="components/quicknotes/quickNotesDirective.js"></script>
<script src="components/dragndrop/dragDirective.js"></script>
<script src="components/dragndrop/dropDirective.js"></script>
<script src="components/dragndrop/angDragDirective.js"></script>



<!-- endbuild -->

</body>
</html>
